body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
  }


.header {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    
}

.logo {
    display: flex;
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin: 30px;
}

ul {
    display: flex;
    list-style: none;
    margin: 30px;
    padding: 0;
    gap: 16px
  }

a {
    color: #ffffff;
    text-decoration: none;
  }
  