body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
  }


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    margin-top: 0;
    background: #1F2937;
    
}

.logo {
    display: flex;
    color: white;
    font-size: 24px;
    font-weight: 700;
  
}

ul {
    display: flex;
    list-style: none;
    
    padding: 0;
    gap: 16px
  }

a {
    color: #ffffff;
    text-decoration: none;
  }
  
.image {
    max-width: 100%;
    height: auto;
   /*  border: 2px solid rgb(238, 255, 0); */
 
}
.container {
   /*  border: 2px solid rgb(255, 0, 221); */
    display: flex;
    background: #1F2937;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 142px;
    gap: 20px;

}

.content {
 /*    border: 2px solid rgb(0, 225, 255); */
    display: flex;
    background: #1F2937;
    flex-direction: column;
    gap: 10px;

}

.title {
    display: flex;
    font-size: 38px;
    color: white;
}

.title_text {
    display: flex;
    color: white;
}

.sign_up {
    color: white;
    background-color: #3882f6;
    width: 80px;
    border-radius: 5px;
    border: none;
    padding: 3px;
    font-weight: 600;

}